{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Avatar</th>
                <th>Bio</th>
                <th>Accepté les CGU ?</th>
                <th>Date de création</th>
                <th>Date de mise à jour</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        {% if user.avatar %}
                            <img src="{{ asset(user.avatar) }}" alt="{{ user.username }}" width="50">
                        {% else %}
                            <em>Pas d'avatar</em>
                        {% endif %}
                    </td>
                    <td>{{ user.bio }}</td>
                    <td>{{ user.termsAccepted ? 'Oui' : 'Non' }}</td>
                    <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : 'Non disponible' }}</td>
                    <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : 'Non disponible' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
