{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>

    <div>
        <img src="{{ post.featureImage }}" alt="Image de {{ post.title }}">
    </div>

    <div>
        <h3>Description</h3>
        <p>{{ post.description }}</p>
    </div>

    <div>
        <h3>Contenu</h3>
        <p>{{ post.content }}</p>
    </div>

    <div>
        <h3>Catégorie</h3>
        {% if post.category %}
            <p>{{ post.category.name }}</p>
        {% else %}
            <p>Aucune catégorie</p>
        {% endif %}
    </div>

    <a href="{{ path('explorer') }}">Retour</a>
{% endblock %}
